.Todo {
    margin: auto;
    padding: 50px 30px 35px;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    background-color: #fff;
    position: relative;
    z-index: -2;
    max-width: 560px;
}
